<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/fa-svg-with-js.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="__PUBLIC__/front/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/llh.css">
    <script type="text/javascript" src="__PUBLIC__/front/js/jquery.js"></script>
    <style type="text/css">
      .toolbar-inner a{
        width: 100%!important;
      }
      #img-file{
    opacity: 0;
    padding-left: 0;
    width: 150px;
    height: 50px;
    border: 0;
    position: absolute;
  /*  top: 53px;
    left: 22px;*/
    bottom:5px;
}
    </style>
</head>
<body>
  <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Views-->
   <form action="__MODULE__/Article/doPublish" method="post" enctype="multipart/form-data" class="views whiteBGColor">
    
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main whiteBGColor">
        <!-- Top Navbar-->
        <div class="navbar whiteBGColor">
          <div class="navbar-inner">
            <div class="left">
              <a href="javascript:history.go(-1)" class="external blackColor"><i class="fas fa-angle-left  fa-lg"></i></a>
            </div>
            <div class="center sliding">发布文章</div>
            <div class="right">
             <button type="submit" name="submit" style="color:Tomato;background-color:#fff;display:block;font-size:16px;opactiy:0;border:none">发布</button>
            </div>
          </div>
        </div>
   
        <div class="pages navbar-through toolbar-through whiteBGColor">
          <div class="page-content">
            <div class="list-block">
              <ul>
                <!-- Text inputs -->
                <li>
                  <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                      <div class="item-title label">标题：</div>
                      <div class="item-input">
                        <input type="text" placeholder="给你的文章起个标题吧" name="title">
                      </div>
                    </div>
                  </div>
                </li>
                <!-- Textarea -->
                <li class="align-top">
                  <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-comment"></i></div>
                    <div class="item-inner">
                      <div class="item-title label">正文：</div>
                      <div class="item-input">
                        <textarea style="height:200px" placeholder="说点什么吧" name="content"></textarea>
                      </div>
                    </div>
                   
                  </div>
                  <div> <img src="" height="100" ></div>
                </li>
              </ul>
          </div>
          </div>
      </div>
      <!-- Bottom Toolbar-->
        <div class="toolbar tabbar tabbar-labels">
          <div class="toolbar-inner" style="padding:0">
              <a href="#" class="tab-link active" style="border-right:solid 1px #BDBDBD">
                  <i class="icon fas fa-camera  fa-lg" style="color:Tomato"></i>
                  <span class="tabbar-label redColor">添加照片</span>
                     <input type="file" id="img-file"   name="photo" style="opactiy:0" onchange="previewFile()" /> 
              </a>
            
          </div>
        </div><!-- toolbar end -->
     <!--    <input type="submit" name="submit" class="btn btn-primary" value="提交"> -->
       
       </div>
        </form>
    
  <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="__PUBLIC__/front/js/jquery-2.2.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/framework7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/fontawesome-all.min.js"></script>
    <script type="text/javascript">
  function previewFile() {
  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}
</script>

</body>
</html>